<div class="container page" id="order" data-page-root="order"  ms-controller="order">　
    <nav class="navbar navbar-default  navbar-fixed-top">
      <div  class="row navButton">
          <div  class="col-xs-4 text-left icon">
            <!-- <a  href="#!/main/activity">
              <i class="glyphicon glyphicon-arrow-left fa-lg active"></i>
            </a> -->
          </div>
          <div class="col-xs-4 text-center">
              <h4 id="title" style="color:#D4A753">排行</h4>
          </div>
          <div class="col-xs-4 text-right">

          </div>
      </div>
    </nav>
    <div id="childContent"  class="container-fluid childContent" style="height:600px;overflow-y:scroll">
      <ul class="nav nav-tabs">
          <!-- <li role="presentation" ms-attr="{remark:'b',class:(@isBody?'active':'')}" ms-click="@loadContent"><a href="#"><i class="fa fa-thumbs-up fa-1x" style="color:red"></i>体力排行榜</a></li> -->
          <li role="presentation" ms-attr="{remark:'f',class:(@isMily?'active':'')}"  ms-click="@loadContent"><a href="#"><i class="fa fa-sun-o" style="color:orange"></i>米粒排行榜</a></li>
          <!-- <li role="presentation" ms-attr="{remark:'d',class:(@isDevote?'active':'')}" ms-click="@loadContent"><a href="#"><i class="fa fa-heart fa-1x active" ></i>捐米公益榜</a></li> -->
      </ul>
      <div id="mily" ms-if="@isMily==true">
         <div class="well" style="background-color:#F6F4F2" ms-for="(i,item) in @profiles" >
             <div class="row">
                <div class="col-xs-3">
                  <img class="img-circle" style="width:48px;height:48px" ms-attr="{src:@item.imgUrl}" alt="..."/>

                </div>
                <div class="col-xs-3">
                    <span>{? @item.nickname ?}</span>
                </div>
                <div class="col-xs-3">
                  {? item.mily ?}粒
                </div>
                <div class="col-xs-3">
                  <span class="badge" style="color:red">{? ++i ?}</span>
                </div>
             </div>
         </div>
      </div>
      <div id="bodyval" ms-if="@isBody==true" class="panel panel-default">
        坚持打卡，收获习惯，敬请期待
        <table class="table">
          <!-- <tr><td>体力:</td><td>ddd</td></tr> -->
        </table>
      </div>
      <div id="devote" ms-if="@isDevote==true" class="panel panel-default">
        奉献爱心，收获责任，敬请期待
        <table class="table">
          <!-- <tr><td>捐赠:</td><td>ddd</td></tr> -->
        </table>
      </div>
    </div>
  </div>
  <script>
  $yml.page=$yml.pageBase.New(null,{
    ctor:function(){
      console.log("addChild loaded..."+this.getVmEleName());
      //基类里在pageReady方法里和可以访问成员$vmPage和$router
      //this.$vmPage
      //this.$router
    },
    vmDef:function(){
      return {
        $id:"order",
        profiles:[],
        isMily:true,
        isBody:false,
        isDevote:false,
        backClick:function(){
          //$yml.page.$router.pop();
        },
        cleanUp:function(toCleanVm){
          console.log("clean up grain list")
          this.profiles.clear();
        },
        loadContent:function(el){
          //$yml.page.$router.pop();
          var target=el.currentTarget;
          var $t=$(target)
          remark=$t.attr("remark")
          if(remark=="f"){
            this.isMily=true;
            this.isBody=false;
            this.isDevote=false;
          }
          if(remark=="b"){
            this.isBody=true;
            this.isMily=false;
            this.isDevote=false;
          }
          if(remark=="d"){
            this.isDevote=true;
            this.isBody=false;
            this.isMily=false;
          }

        },

      };
    },
    pageReady:function(){
      var self=this;
      // self.$vmMain.wxinit("#",document.location.href)
      console.log(" grain pageReady");
      $yml.ajax('/api/grain/feedback/milyorder',null,
      　  function(res){
            $yml.page.$vmPage.profiles.clear()
            res.content.data.forEach(function(r){
              $yml.page.$vmPage.profiles.push(r)
            });
          }
      );
    }
  });
  </script>
