<div class="container page" id="activity_detail" data-page-root="activity_detail"  ms-controller="activity_detail">　
    <nav class="navbar navbar-default  navbar-fixed-top">
      <div  class="row navButton">
          <div  class="col-xs-4 text-left">
            <div  ms-click="backClick" class="active">
              <i class="glyphicon glyphicon-arrow-left fa-2x"></i>
            </div>
          </div>
          <div class="col-xs-4 text-center">
              <h4 id="title" class="topNavButton">报名</h4>
          </div>
          <div class="col-xs-4 text-right">
            <!-- <a>
              <i class="fa fa-cart-plus fa-2x"></i>
            </a> -->
          </div>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="row">
          <div class="col-sm-6">
            <div class="thumbnail">
              <img src="http://mily365.com/media/upload/mily.png"  alt="...">
              <div class="caption">
                <h3>{? hello ?}</h3>
                <p>...</p>
                <p class="text-right"><a href="#" class="btn button-highlight" role="button">详情</a></p>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="thumbnail">
              <img src="http://mily365.com/media/upload/mily.png" alt="...">
              <div class="caption">
                <h3>Thumbnail label</h3>
                <p>...</p>
                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
              </div>
            </div>
          </div>
       </div>
    </div>
  </div>
  <script>
  $yml.page=$yml.pageBase.New(null,{
    ctor:function(){
      console.log("addChild loaded..."+this.getVmEleName());
      //基类里在pageReady方法里和可以访问成员$vmPage和$router
      //this.$vmPage
      //this.$router
    },
    vmDef:function(){
      var self=this;
      return {
        $id:"activity_detail",
        hello:'201天习惯养成',
        cleanUp:function(){
          console.log("clean up...")
        },
        backClick:function(){
          self.$vmMain.backClick();
          //console.log("....上一步")
        }
      };
    },
    pageReady:function(){
      var self=this;
      console.log("pageReady");
      // $yml.ajax('/api/habit/cats',null,
      // 　  function(res){
      //       $yml.page.$vmPage.cats=res.content;
      //     }
      // );
    }
  });
  </script>
