<div class="container page" id="order" data-page-root="order"  ms-controller="order">　
    <nav class="navbar navbar-default  navbar-fixed-top">
      <div  class="row navButton">
          <div  class="col-xs-4 text-left icon">
            <!-- <a  href="#!/main/activity">
              <i class="glyphicon glyphicon-arrow-left fa-lg active"></i>
            </a> -->
          </div>
          <div class="col-xs-4 text-center">
              <h4 id="title" style="color:#D4A753">排行</h4>
          </div>
          <div class="col-xs-4 text-right">

          </div>
      </div>
    </nav>
    <div id="childContent"  class="container-fluid childContent" style="height:600px;overflow-y:scroll">

    </div>
  </div>
  <script>
  $yml.page=$yml.pageBase.New(null,{
    ctor:function(){
      console.log("addChild loaded..."+this.getVmEleName());
      //基类里在pageReady方法里和可以访问成员$vmPage和$router
      //this.$vmPage
      //this.$router
    },
    vmDef:function(){
      return {
        $id:"order",
        friends:[],
        isMily:true,
        isBody:false,
        isDevote:false,
        backClick:function(){
          //$yml.page.$router.pop();
        },
        cleanUp:function(toCleanVm){
          console.log("clean up grain list")
          this.friends.clear();
        }

      };
    },
    pageReady:function(){
      var self=this;
      // self.$vmMain.wxinit("#",document.location.href)
      console.log(" grain pageReady");
    }
  });
  </script>
