<div class="container page" id="feedback" data-page-root="feedback"  ms-controller="feedback">　
  <nav class="navbar navbar-default  navbar-fixed-top">
    <div  class="row navButton">
        <div  class="col-xs-4 text-left icon">
          <a  href="#!/main/grain">
            <img src="/static/front/img/back.png" style="width:16px;height:16px"/>
          </a>
        </div>
        <div class="col-xs-4 text-center">
            <h4 id="title" class="topNavButton">打卡</h4>
        </div>
        <div class="col-xs-4 text-right">
          <!-- <a href="#!/main/grain/addchild">
            <i class="fa fa-plus fa-2x active"></i>
          </a> -->
        </div>
    </div>
  </nav>
  <div id="childContent"  class="container-fluid childContent" style="height:600px;overflow-y:scroll">
      <ul class="list-group">
        <li  ms-for="(i,item) in @habits"   class="list-group-item">
          <div class="media" style="margin-top:5px">
            <a  href="#" class="media-left">
                <i ms-attr="{class:@item.icon}"   aria-hidden="true"></i>
            </a>
            <div class="media-body">
                <h5 class="media-heading" style="margin-top:2px">
                  {? @item.name ?}
                </h5>
                <br/>
                <p><i class="fa fa-calendar-minus-o" aria-hidden="true"></i>你已坚持：{? @item.accumDays ?}天
                <p><i class="fa fa-asterisk" aria-hidden="true"></i>今日得米：{? @item.freeMily ?}粒
                <p><i class="fa fa-asterisk" aria-hidden="true"></i>累积得米：{? @item.accumMily ?}粒
            </div>
            <div class="media-right">
                <span ms-if="@item.isFeedBack=='0'" class="button-wrap">
                    <button ms-click="@gonote" ms-attr="{noteurl:'#!/main/grain/feednote/',postid:@item.postid,habitid:@item.id,pid:@currentUserId,hid:@item.hid,isFeed:'0',class:'button button-glow button-circle button-action button-jumbo'}">
                      <span  style="color:red">
                         <span class="glyphicon glyphicon-hand-up" aria-hidden="true"></span>
                      </span>
                   </button>
               </span>
               <span ms-if="@item.isFeedBack=='1'" class="button-wrap">
                   <button ms-click="@gonote" ms-attr="{noteurl:'#!/main/grain/feednote/',postid:@item.postid,habitid:@item.id,pid:@currentUserId,hid:@item.hid,isFeed:'1',class:'button button-glow button-circle button-action button-jumbo'}">
                     <span>
                       <i    class="fa fa-check fa-fw"></i>
                     </span>
                  </button>
              </span>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="modal fade" id="dlgCancelFeed" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel"><i class="fa fa-warning" style="color:orange"></i>取消打卡警告</h4>
        </div>
        <div class="modal-body" style="padding:20px">
          　<p>您确定要取消今日打卡吗？
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
          <button type="button"　 id="cancelFeedOk" class="btn btn-success">确定</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="rptAct" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-body">
                  <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel"><i class="fa fa-smile-o" style="color:orange"></i>小小提示</h4>
                  </div>
                  <div class="text-center" style="width:100%;height:120px;margin-top:15px">
                      <div class="text-center">
                        <span>
                          点下方菜单"首页"，活动报名后才可以打卡！</span>
                      </div>
                      <div style="margin-top:15px;">
                        <button href="#" class="button button-pill  button-action" id="rptActKnow">我知道了</button>
                      </div>
                  </div>
              </div>
            </div>
      </div>
  </div>
  <script>
  $yml.page=$yml.pageBase.New(null,{
    ctor:function(){
      console.log("feedback loaded..."+this.getVmEleName());
      //基类里在pageReady方法里和可以访问成员$vmPage和$router
      //this.$vmPage
      //this.$router
    },
    vmDef:function(){
      return {
        $id:"feedback",
        currentUserId:null,
        $currentPostid:-1,
        habits:[],
        backClick:function(){
          //$yml.page.$router.pop();
        },
        cleanUp:function(toCleanVm){
          this.habits.clear();
          this.currentUserId=null;
        },

        gonote:function(ev){
          //判断是否
          var $target=$(ev.currentTarget);
          var isfeed=$target.attr("isFeed")
          if(isfeed=='1'){
            //如果已经反馈，弹出取消反馈窗口，进行取消打卡调用
            $yml.page.$vmPage.$currentPostid=$target.attr("postid");
            $("#dlgCancelFeed").modal("show");
          }else{
            var params={}
            params.habitid=$target.attr("habitid");
            params.pid=$target.attr("pid");
            params.hid=$target.attr("hid");
            //创建反馈对象feedback,并生成一个默认贴,奖励米粒,如果参与了懒人基金，返还押金
            $yml.ajax('/api/grain/feedback/create',params,function(rtnData){
                if(rtnData.status==0){
                    $yml.page.$vmPage.habits.forEach(function(item){
                      if(item.id==rtnData.content.habitid){
                        item.isFeedBack="1"
                        item.postid=rtnData.content.postid
                        var gourl=$target.attr("noteurl")+item.postid
                        avalon.router.navigate(gourl,2)
                        return false;
                      }
                    })

                }else{
                  alert("发布出错");
                }
            });

          }
        }
      };
    },
    pageReady:function(params){
      var self=this;
      console.log(" feedback pageReady");
      $yml.dlgCenter("dlgCancelFeed");
      $yml.dlgCenter("rptAct");
      //缓存当前打卡用户的id
      self.$vmPage.currentUserId=params.pid;
      //显示当前家庭的孩子参加活动所涉及的习惯列表
      $yml.ajax('/api/grain/feedback/habits',params,
      　  function(res){
            if(res.content.data.length==0){
              setTimeout(function(){
                $("#rptAct").modal("show")
                $("#rptActKnow").click(function(){
                  $("#rptAct").modal("hide")
                })
              },100)
            }
            $yml.page.$vmPage.habits.clear()
            res.content.data.forEach(function(r){
              $yml.page.$vmPage.habits.push(r)
            });
          }
      );
      $("#cancelFeedOk").click(function(){
        var params={}
        params.postid=$yml.page.$vmPage.$currentPostid;
        $yml.ajax('/api/grain/feedback/cancel',params,function(rtnData){
           $("#dlgCancelFeed").modal("hide");
            if(rtnData.status==0){
                habitid=rtnData.content.habitid;
                $yml.page.$vmPage.habits.forEach(function(item){
                  if(item.id==habitid){
                    item.isFeedBack="0"
                    item.postid=-1
                  }
                })
            }else{
              alert("取消打卡失败");
            }
        });
      });
    }
  });
  </script>
