<div class="container page" id="habit" data-page-root="habit" ms-controller="habit">　
    <nav class="navbar navbar-default  navbar-fixed-top">
      <div  class="col-xs-4 text-left">
        <div class="navButton" ms-click="helpClick()">
          <span class="fa fa-cog"></span>
        </div>
      </div>
      <div class="col-xs-4 text-center">
          <h4 id="title" class="topNavButton">活动</h4>
      </div>
      <div class="col-xs-4 text-right">
        <a id="btnSelHabit"  class="navButton">
          <i class="fa fa-cart-plus fa-2x active"></i>
        </a>
      </div>
    </nav>
    <div class="fluid-container">
      <div class="row">
          <div class="col-sm-6">
            <div class="thumbnail">
              <img src="..." alt="...">
              <div class="caption">
                <h3>Thumbnail label</h3>
                <p>...</p>
                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="thumbnail">
              <img src="..." alt="...">
              <div class="caption">
                <h3>Thumbnail label</h3>
                <p>...</p>
                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
              </div>
            </div>
          </div>
       </div>
    </div>
