<div class="container page" id="activity" data-page-root="activity"  ms-controller="activity">　
    <nav class="navbar navbar-default  navbar-fixed-top">
      <div class="container-fluid" style="padding-left:1px;padding:right:1px">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <h4 class="text-center">活动</h4>
          <!-- <a class="navbar-brand" href="#"><img style="width:30px;height:30px" src="{% static "admin/img/mily.png"%}"/></a> -->
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">首页</a></li>
            <li><a href="#about">关于我们</a></li>
            <li><a href="#contact">联系方式</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">历史活动</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div id="childContent"  class="container-fluid childContent" style="height:600px;overflow-y:scroll">
        <ul class="list-group">
          <li  ms-for="(i,top) in @tops" ms-attr="{'data-url':'/main/activity/detail/'+@top.id}"  class="list-group-item">
              <div class="media" style="margin-top:5px">
                  <div class="media-body">
                    <h4 class="media-heading"><span style="padding-right:5px"><i class="fa fa-fire  active" aria-hidden="true"></i></span>{? top.name ?}</h4>
                    <br/>
                    <p>活动类别：{? @top.cat ?}</p>
                    <p>关键词:{? @top.desc ?}</p>
                    <p>开始日期：{? @top.startTime ?}</p>
                    <p>截止日期：{? @top.endTime ?}</p>
                    <p>还剩：３个名额</p>
                  </div>
                  <a  ms-attr="{href:'#!/main/activity/detail/'+@top.id}"  class="media-right">
                      <img class="media-object thumbnail" style="width:112px;height:112px" ms-attr="{src:@top.img}" alt="...">
                      <div><i class="fa fa-hand-o-up fa-lg active" aria-hidden="true"></i></div>
                  </a>
               </div>
          </li>
          <li  ms-for="(i,item) in @activitys" ms-attr="{'data-url':'/main/activity/detail/'+@item.id}"  class="list-group-item" ms-click="@activeSet">
            <div class="media" style="margin-top:5px">
                <div class="media-body">
                  <h4 class="media-heading"><span style="padding-right:5px"><i class="fa fa-gift  active" aria-hidden="true"></i></span>{? item.name ?}</h4>
                  <br/>
                  <p>活动类别：{? @item.cat ?}</p>
                  <p>关键词:{? @item.desc ?}</p>
                  <p>开始日期：{? @item.startTime ?}</p>
                  <p>截止日期：{? @item.endTime ?}</p>
                  <p>还剩：３个名额</p>

                </div>
                <a  ms-attr="{href:'#!/main/activity/detail/'+@item.id}"  class="media-right">
                    <img class="media-object thumbnail" style="width:112px;height:112px" ms-attr="{src:@item.img}" alt="...">
                    <div><i class="fa fa-hand-o-up fa-lg active" aria-hidden="true"></i></div>
                </a>
             </div>
          </li>
        </ul>
    </div>

  </div>
  <script>
  $yml.page=$yml.pageBase.New(null,{
    ctor:function(){
      console.log("addChild loaded..."+this.getVmEleName());
      //基类里在pageReady方法里和可以访问成员$vmPage和$router
      //this.$vmPage
      //this.$router
    },
    vmDef:function(){
      return {
        $id:"activity",
        hello:'20天习惯养成',
        activitys:[],
        tops:[],
        helpClick:function(){
          //$yml.page.$router.pop();
          console.log("helpClick")
        },
        cleanUp:function(){
          this.activitys.length=0;
          this.activitys=[]
          this.tops.length=0;
          this.tops=[];
        },
        activeSet:function(e){
          $(".list-group-item.active").removeClass("active")
          $(e.currentTarget).addClass("active")
          //console.log(e)
          console.log("activeSet")
        }
      };
    },
    pageReady:function(){
      var self=this;
      console.log("pageReady");
      // $yml.ajax('/api/habit/cats',null,
      // 　  function(res){
      //       $yml.page.$vmPage.cats=res.content;
      //     }
      // );
      //初始化分页器
      var pager= $yml.pagination.New({
          currentPage:1,
          totalCount:1,
          pageSize:6,
          url:"/api/activity/",
          query:null,
        },{
          ctor:function(){
            this.initData(function(res){
               initUi(res);
               //console.log(res)
            });
          }
        }
      );
      pager.onScroll("childContent",function(res){
           console.log("scroll....")
           initUi(res);
      });
      function initUi(data){
        console.log("init data")
         if(data){
           data.forEach(function(d){
             self.$vmPage.activitys.push(d);
             if(d.isTop)
               self.$vmPage.tops.push(d);
           });

         }
      }
    }
  });
  </script>
