<div class="container page" id="activity_detail" data-page-root="activity_detail"  ms-controller="activity_detail">　
    <nav class="navbar navbar-default  navbar-fixed-top">
      <div  class="row navButton">
          <div  class="col-xs-4 text-left icon">
            <a ms-attr="{href:'#!/main/activity/t'}">
              <i class="glyphicon glyphicon-arrow-left fa-lg active"></i>
            </a>
          </div>
          <div class="col-xs-4 text-center">
              <h4 id="title" class="topNavButton">{? @title ?}</h4>
          </div>
          <div class="col-xs-4 text-right">
            <!-- <a>
              <i class="fa fa-cart-plus fa-2x"></i>
            </a> -->
          </div>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="row">
          <div class="col-sm-12" ms-if="@isDetail">
            <div class="thumbnail noborder" ms-if="@item">
              <img class="media-object" ms-attr="{src:@item.img}" style="width:400px;height:300px" alt="...">
              <div class="caption">
                <h3>{? @item.name ?}</h3>
                <p class="text-left" ms-if="@item.applied=='0'">
                  <button  class="btn button-highlight" role="button" ms-click="@digClick">我要报名</button>
                </p>
                <p class="text-left" ms-if="@item.applied=='1'">
                  <button  class="btn button-success" role="button">已报名</button>
                </p>
                <p>活动类别：{? @item.cat ?}</p>
                <p>关键词:{? @item.desc ?}</p>
                <p>起止日期：{? @item.startTime ?}——{? @item.endTime ?}</p>
                <p>
                  <div ms-html="@item.memo">
                  </div>
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-12" ms-if="@isDiagnose">
            <div class="thumbnail noborder">
              <div class="caption">
                <h4><span class="warncolor"><i class="fa fa-question fa-lg"></i><span>正在了解您的孩子，请回答问题</h4>
                <h3>{? @curQuestion.name ?}</h3><br/>
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default" data-level="L" ms-click="@selectRadio">
                      <input type="radio" name="options" value="L"  id="option1" autocomplete="off" /> 较差
                    </label>
                    <label class="btn btn-default active" data-level="M" ms-click="@selectRadio">
                      <input type="radio" name="options" value="M"  id="option2"  autocomplete="off" checked/> 一般
                    </label>
                    <label class="btn btn-default" data-level="H" ms-click="@selectRadio">
                      <input type="radio" name="options" value="H"   id="option3" autocomplete="off"/> 良好
                    </label>
                </div>
              </div>
            </div>
            <p class="text-right" ms-if="@item['habitCat'].length">
              <button  class="btn button-highlight" role="button" ms-click="@nextClick">下一个</button>
            </p>
            <p class="text-right" ms-if="@item['habitCat'].length==0">
              <button  class="btn button-highlight" role="button" ms-click="@digOk">确认报名</button>
            </p>
          </div>
          <div class="col-sm-12" ms-if="@rptOk">
            <div class="thumbnail noborder">
              <div class="caption">
                <h4>为您的孩子匹配了如下习惯</h4>
                <p ms-for="(i,h) in @selectedHabits">
                    <span>{? h.name ?}</span>
                </p>
              </div>
            </div>
            <div class="well">
               <h5>懒人基金分享</h5>
               <p>存入懒人基金，每天打卡赢回基金</p>
               <p>活动持续时间：３０天</p>
               <p>每天打卡：返还１元</p>
               <p>活动结束：所有参与者均分剩余基金</p>
               <p>目前已经有几人参与，基金</p>
            </div>
            <p class="text-right">
              <button  class="btn button-highlight" role="button" ms-click="@nextClick">点击参与</button>
            </p>
          </div>
       </div>
    </div>
  </div>
  <script>
  $yml.page=$yml.pageBase.New(null,{
    ctor:function(){
      console.log("addChild loaded..."+this.getVmEleName());
      //基类里在pageReady方法里和可以访问成员$vmPage和$router
      //this.$vmPage
      //this.$router
    },
    vmDef:function(){
      var self=this;
      return {
        $id:"activity_detail",
        item:false,
        curQuestion:false,
        $toSubmit:[],
        selectedHabits:[],
        isDiagnose:false,
        isDetail:true,
        rptOk:false,//已经成功报名，考虑在后台利用缓存
        title:"报名",
        digClick:function(){
          this.isDiagnose=true;
          this.isDetail=false;
          this.title="答题";
          //this.rptOk=false;
        },
        cleanUp:function(){
          console.log("clean up...")
          this.item=false;
          this.$toSubmit=[];
          this.curQuestion=false;
          this.isDiagnose=false;
          this.rptOk=false;
          this.isDetail=true;
          this.title="报名";
        },
        nextClick:function(){
          var initFirstQuestion=$yml.page.$vmPage.item["habitCat"].pop();
          $yml.page.$vmPage.curQuestion=initFirstQuestion;
          $yml.page.$vmPage.$toSubmit.push($yml.page.$vmPage.curQuestion)
        },
        selectRadio:function(e){
          var level=$(e.currentTarget).data("level");
          $yml.page.$vmPage.curQuestion.level=level;
        },
        digOk:function(){
          this.isDiagnose=false;
          this.isDetail=false;
          //当前用户，活动id，[习惯类别id,习惯类别name,难度level],当前用户报名参加活动
          //在查询出当前活动时，应该把当前活动的习惯类别所涉及的习惯加载到缓存，缓存key是：cat:id:habit:level,值是习惯
          //清空用户表，在创建用户时(用户、家庭)要同时初始化账户表
          //要启动事务
          var catsArray=[]
          this.$toSubmit.forEach(function(r){
             var tmp={}
             tmp.id=r.id;
             tmp.name=r.name;
             tmp.level=r.level;
             catsArray.push(tmp)
          })
          var postParam={
            'actId':this.item.id,
            'cats':catsArray
          }
          var self=this;
          $yml.ajax('/api/activity/join',postParam,
          　  function(res){
                res.content.data.forEach(function(r){
                  $yml.page.$vmPage.selectedHabits.push(r)
                })
                self.rptOk=true;
                self.title="报名完成";
              }
          );
        }
      };
    },
    pageReady:function(paramObj){
      var self=this;
      console.log("pageReady");
      $yml.ajax('/api/activity/detail',paramObj,
      　  function(res){
            // alert(JSON.stringify(res))
            $yml.page.$vmPage.item=res.content.data;
            var initFirstQuestion=$yml.page.$vmPage.item["habitCat"].pop();
            $yml.page.$vmPage.curQuestion=initFirstQuestion;
            $yml.page.$vmPage.$toSubmit.push($yml.page.$vmPage.curQuestion)
          }
      );
    }
  });
  </script>
