<div class="container page" id="my" data-page-root="my"  ms-controller="my">　
    <nav class="navbar navbar-default  navbar-fixed-top">
      <div  class="row navButton">
          <div  class="col-xs-4 text-left">

          </div>
          <div class="col-xs-4 text-center">
              <h4 id="title" class="topNavButton">{? @myinfo.nickname ?}</h4>
          </div>
          <div class="col-xs-4 text-right">

          </div>
      </div>
    </nav>
    <div class="container-fluid childContent">
       <div class="list-group" style="padding:0px">
         <button class="list-group-item">
             <div class="row">
               <div class="col-xs-12" style="padding:0px">
                 <img  ms-attr="{src:@myinfo.imgUrl,class:'center-block headbak'}" alt="...">
               </div>
             </div>
             <div class="row">
               <div class="col-xs-12">
                 <img  ms-attr="{src:@myinfo.imgUrl,class:'img-circle center-block headimg'}"  alt="...">
               </div>
             </div>-
         </button>
         <button   class="list-group-item">
           <div class="row">
              <div class="col-xs-6 text-left">
                  <a id="sg" ms-attr="{href:'#!/main/stage/-2'}">
                    <span class="active"><i class="fa fa-clock-o" style="color:orange"></i>&nbsp;时光足迹</span>
                  </a>
              </div>
              <div class="col-xs-6 text-right">
                <a  ms-attr="{href:'#!/main/stage/-2'}">
                  <i class="fa fa-arrow-right" aria-hidden="true" style="color:#999"></i>
                </a>
             </div>
           </div>
         </button>
         <button   class="list-group-item">
           <div class="row">
              <div class="col-xs-6 text-left">
                  <a ms-attr="{href:'#!/main/grain/friends'}" id="mf">
                    <span class="active"><i class="fa fa-sun-o" style="color:orange"></i>&nbsp;我的朋友</span>
                  </a>
              </div>
              <div class="col-xs-6 text-right">
                <div>
                  <a ms-attr="{href:'#!/main/grain/friends'}" id="mf">
                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                  </a>       　
                </div>
             </div>
           </div>
         </button>
         <button ms-click="@exit"  class="list-group-item">
           <div class="row">
              <div class="col-xs-6 text-left">
                   <i class="fa fa-close" style="color:orange"></i>&nbsp;退出</a>
              </div>
              <div class="col-xs-6 text-right">
                <div style="margin-top:20px">
                 　
                </div>
             </div>
           </div>
         </button>
       </div>
    </div>
  </div>
  <script>
  $yml.page=$yml.pageBase.New(null,{
    ctor:function(){
      console.log("addChild loaded..."+this.getVmEleName());
      //基类里在pageReady方法里和可以访问成员$vmPage和$router
      //this.$vmPage
      //this.$router
    },
    vmDef:function(){
      return {
        $id:"my",
        myinfo:'',
        backClick:function(){
          //$yml.page.$router.pop();
        },
        cleanUp:function(){
          console.log("clean up...")
        },
        exit:function(){
           location.href="/main/exit"
        }
      };
    },
    pageReady:function(){
      var self=this;
      console.log(" my grain pageReady");
      // $('#sg').grumble(
      // 	{
      // 		text: '家庭打卡历史',
      // 		angle: 90,
      // 		distance: 40,
      // 		showAfter: 100,
      // 		type: 'alt-',
      // 		hideAfter: 2000
      // 	}
      // );
      $yml.ajax('/api/home/my',null,
      　  function(res){
            $yml.page.$vmPage.myinfo=res.content.myinfo;

          }
      );
    }
  });
  </script>
