<div class="container page" id="grain" data-page-root="grain"  ms-controller="grain">　
  <nav class="navbar navbar-default  navbar-fixed-top">
    <div  class="row navButton">
        <div  class="col-xs-4 text-left icon">
          <!-- <a  href="#!/main/activity">
            <i class="glyphicon glyphicon-arrow-left fa-lg active"></i>
          </a> -->
        </div>
        <div class="col-xs-4 text-center">
            <h4 id="title" style="color:#995010;font-weight:bold;">打卡</h4>
        </div>
        <div class="col-xs-4 text-right">
          <!-- <a href="#!/main/grain/addchild" ms-if="@role!='4'">
            <i class="fa fa-user-plus fa-2x active" aria-hidden="true" style="font-size:22px;color:#6a532e;margin-top:4px;"></i>
          </a> -->
        </div>
    </div>
  </nav>
    <div id="childContent"  class="container-fluid childContent" style="height:600px;overflow-y:scroll">
        <!-- <ul class="list-group">
          <li  ms-for="(i,item) in @familys"   class="list-group-item"> -->
            <div class="panel panel-default" ms-for="(i,item) in @familys" >
              <table class="table">
                <tr style="background-color:#F6F4F2;">
                  <td>
                    <a ms-attr="{href:'#!/main/grain/editchild/'+@item.id}">
                      <img class="img-circle" style="width:32px;height:32px;margin-right:5px;" ms-attr="{src:@item.imgUrl}" alt="..."/>
                      {? @item.nickname ?}<i  class="fa fa-edit fa-1x " style="margin-left:5px;color:#466f25;"></i>
                    </a>
                  </td>
                  <td class="text-right" >
                    <a ms-if="@item.canedit==1"    ms-attr="{href:'#!/main/grain/feedback/'+@item.id+'/'+@item.role}">
                       <button class="btn btn-success btn-1x" style="background:#466f25;"><span class="glyphicon glyphicon-time" style="margin-right:5px;"></span>每日打卡</button>
                   </a>
                  </td>
                </tr>
                <tr><td><i class="fa fa-sun-o" style="color:#995010;margin-right:5px;" aria-hidden="true"></i>身份:</td><td>{? (item.role=='4'?'孩子':'家主') ?}</td></tr>
                <tr><td><i class="fa fa-cubes" style="color:#995010;margin-right:5px;" aria-hidden="true"></i>米仓:</td><td>{? @item.milyAccount ?}粒</td></tr>
                <tr><td><i class="fa fa-line-chart" style="color:#995010;margin-right:5px;" aria-hidden="true"></i>体力值:</td><td>{? @item.bodyval ?}点</td></tr>
                <tr><td><i class="fa fa-calendar" style="color:#995010;margin-right:5px;" aria-hidden="true"></i>时光:</td><td><a ms-attr="{href:'#!/main/stage/'+@item.id,class:'active'}">
                  <span class="active"><i class="fa fa-female fa-2x" aria-hidden="true" style="color:#466f25;"></i></span>
                </a></td></tr>
                <tr><td><i class="fa  fa-info-circle" style="color:#995010;margin-right:5px;"></i>提示:</td><td style="font-size:10px;padding-top:8px;width:210px"><span>点上方<i  class="fa fa-edit fa-1x" style="color:#466f25;"></i>可以给孩子换头像改昵称以及加入班级</span></td></tr>
              </table>
            </div>
          <!-- </li>
        </ul> -->
    </div>

  </div>
  <div class="modal fade" id="grainHelp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-body">
                  <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel"><i class="fa fa-smile-o" style="color:orange"></i>小小提示</h4>
                  </div>
                  <div class="text-center" style="width:100%;height:120px;margin-top:15px">
                      <div class="text-center">
                        <span><i class="fa fa-bell fa-3x fa-spin active" style="margin-right:5px;color:orange" aria-hidden="true"></i>点铃铛打卡</span>
                      </div>
                      <div style="margin-top:15px;">
                        <button href="#" class="button button-pill  button-action" id="grainHelpKnow">我知道了</button>
                      </div>
                  </div>
              </div>
            </div>
      </div>
  </div>
  <div class="modal fade" id="grainHelpAddChild" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-body">
                  <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel"><i class="fa fa-smile-o" style="color:orange"></i>小小提示</h4>
                  </div>
                  <div class="text-center" style="width:100%;height:120px;margin-top:15px">
                      <div class="text-center">
                        <span>
                          点右上<i class="fa fa-plus fa-3x active" style="margin-right:5px;" aria-hidden="true"></i>添加要打卡的孩子</span>
                      </div>
                      <div style="margin-top:15px;">
                        <button href="#" class="button button-pill  button-action" id="grainHelpAddChildHelpKnow">我知道了</button>
                      </div>
                  </div>
              </div>
            </div>
      </div>
  </div>
  <script>
  $yml.page=$yml.pageBase.New(null,{
    ctor:function(){
      console.log("addChild loaded..."+this.getVmEleName());
      //基类里在pageReady方法里和可以访问成员$vmPage和$router
      //this.$vmPage
      //this.$router
    },
    vmDef:function(){
      return {
        $id:"grain",
        familys:[],
        role:3,
        backClick:function(){
          //$yml.page.$router.pop();
        },
        cleanUp:function(toCleanVm){
          console.log("clean up grain list")
          this.familys.clear();
          console.log(toCleanVm.familys.length)
        }
      };
    },
    pageReady:function(){
      var self=this;
      alert(grainUrl)
      self.$vmMain.wxinit("{{grainUrl|safe}}",document.location.href,"家长分享控制","孩子可以点击这个消息进行打卡。")
      console.log(" grain pageReady");
      //$yml.dlgCenter("grainHelp");
      // $yml.dlgCenter("grainHelpAddChild");
      //
      // if(!avalon.router.localStorage.getItem("grainHelpAddChild")){
      //   $("#grainHelpAddChild").modal("show");
      //   $("#grainHelpAddChildHelpKnow").click(function(){
      //     $("#grainHelpAddChild").modal("hide");
      //     avalon.router.localStorage.setItem("grainHelpAddChild","1");
      //   });
      // }
      // if(avalon.router.localStorage.getItem("grainHelp")=="1"){
      //   setTimeout(function(){
      //     $("#grainHelp").modal("show");
      //     $("#grainHelpKnow").click(function(){
      //       $("#grainHelp").modal("hide");
      //       avalon.router.localStorage.setItem("grainHelp","0");
      //     });
      //   },100)
      // }
      $yml.ajax('/api/grain/family',null,
      　  function(res){
            $yml.page.$vmPage.familys.clear()
            $yml.page.$vmPage.role=res.content.role;
            res.content.data.forEach(function(r){
              $yml.page.$vmPage.familys.push(r)
            });
          }
      );
    }
  });
  </script>
