{% extends "front/base.html" %}
{% load static %}
{% block navbar-header %}
{% endblock %}
<!-- 内容区 -->
{% block content %}
<div class="container mainPage" style="width:100%"  id="main"  ms-controller="main">
  <nav class="navbar navbar-default  navbar-fixed-top" style="z-index:10000" ms-if="isLoading">
    <div  class="col-xs-12 text-center">
        <i style="color:#03BC00;margin-top:10px"  class="fa fa-spinner fa-pulse fa-2x"></i>
    </div>
  </nav>
  <!-- <div class="content" id="content" ms-html="@htmlcontent"> -->
  <div class="content" id="content">
  </div>
  <nav ms-visible="isRoot"  class="navbar navbar-default  navbar-fixed-bottom" style="background-color:#D4A753">
      <div class="container">
        <div class="btn-group btn-group-justified">
          <div class="btn-group sound" role="group" ms-for="(i,item) in @mainMenu">
             <button type="button" class="btn btn-default" style="border:none;background-color:transparent">
               <a ms-if="item.title!='打卡'" class="forNav" ms-attr="{'href':'#!'+ item.url,id:item.isDefault?'mainDefault':null}"   ms-click="@focus">
                 <span ms-attr="{class:@item.icon}"></span>
                 <div>{? item.title ?}</div>
               </a>
               <a ms-if="item.title=='打卡'" class="forNav" ms-attr="{'href':'#!'+ item.url,id:item.isDefault?'mainDefault':null}"   ms-click="@focus">

                   <button class="button-glow button-circle button-action" style="position:fixed;bottom:23px;background-color:#D4A753"><i ms-attr="{class:@item.icon}"></i></button>
                   <div style="margin-top:30px">{? item.title ?}</div>
               </a>
             </button>
          </div>
        </div>
      </div>
   </nav>
</div>
<div class="modal fade" id="sysMsg"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <!-- <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel"><i class="fa fa-warning" style="color:orange"></i>系统通知</h4>
        </div> -->
        <div class="text-center" style="width:100%;height:60px;margin-top:15px">
          <p id="contentMsg"></p>
          <div style="margin-top:10px">
            <a href="#" class="button button-pill button-tiny  button-action" id="knowAleady">我知道了</a>
          </div>
       </div>
    </div>
  </div>
</div>
</div>
{% endblock %}
<!-- 主要应用代码区 -->
{% block extrajs %}
<!-- <script src="{% static "front/js/iscroll/iscroll.js" %}"></script> -->
<script src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script src="{% static "front/js/avalon/mmRouter.js" %}"></script>
  <script>
    　　 (function($,$av){
            $(function(){
              //console.log(typeof(avalon))
              var vm=$av.define({
                $id:"main",
                isLoading:true,
                isRoot:true,
                htmlcontent:"hello",
                $refererUrl:null,
                $history:["/main/activity/t"],
                $currentPageVm:null,
                mainMenu:[
                {"title":"首页","url":"/main/activity/t","icon":"fa fa-home","isDefault":true},
                {"title":"排行","url":"/main/grain","icon":"fa fa-trophy","isDefault":false},
                {"title":"打卡","url":"/main/grain","icon":"fa fa-plus","isDefault":false},
                {"title":"舞台","url":"/main/stage/-1","icon":"fa fa-trophy","isDefault":false},
                {"title":"我的","url":"/main/my","icon":"fa fa-user","isDefault":false}
                ],
                backClick:function(refererUrl){
                  //$yml.page.$router.pop();
                  this.$refererUrl=refererUrl;
                  console.log("back ......")
                  // var pathArray= $av.router.getLastPath().split("/");
                  // console.log(pathArray);
                  var pathArray= $av.router.getLastPath().split("/");
                  pathArray.pop();
                  var backPath= pathArray.join("/")
                  console.log("backPath......................."+backPath)
                  if(backPath!="/main")
                     console.log(backPath);
                  $av.router.navigate(backPath,1);
                },
                focus:function(el){
                  console.log("focus......")
                  $(".active").removeClass("active")
                  $("span",el.currentTarget).addClass("active")
                  $("div",el.currentTarget).addClass("active")
                },
                wxinit:function(ts,urlSign){
                  //var urlstr=document.location.href;
                  var index=urlSign.indexOf("#");
                  var urlstr=urlSign.substring(0,index)
                  $yml.ajax('http://wx.mily365.com/wx/api/jsConfig',{url:urlstr,ignore:true},
                　  function(res){
                      var config={};
                      //alert(JSON.stringify(res));
                      config.debug=false;
                      config.appId=res.content.appid;
                      config.timestamp=res.content.timestamp;
                      config.nonceStr=res.content.nonceStr;
                      config.signature=res.content.signature;
                      config.jsApiList=['checkJsApi','uploadImage','chooseImage','onMenuShareAppMessage','startRecord','stopRecord','onVoiceRecordEnd','playVoice','pauseVoice'
                                        ,'stopVoice'
                                        ,'onVoicePlayEnd'
                                        ,'uploadVoice'
                                        ,'downloadVoice','hideMenuItems'];
                                        //'chooseWXPay'
                     wx.ready(function(){
                              // var redirect_uri='http://ll.yimilan.com/home?noticeKey='+$.localStorage.get("opid")+"&shareKey=1";
                              // var redirect_uri='http://ll.yimilan.com/home/main.html?'+"from=time&shareKey=1";
                              // var encodeurl=encodeURIComponent(redirect_uri);
                              // var scope="snsapi_userinfo";
                              // var url="https://open.weixin.qq.com/connect/oauth2/authorize?appid="+config.appId+"&redirect_uri="+encodeurl+"&response_type=code&scope="+scope+"#wechat_redirect";
                              // var url="http://www.163.com";

                              wx.hideMenuItems({
                                                  menuList:['menuItem:share:qq',
                                                  "menuItem:favorite","menuItem:share:QZone","menuItem:copyUrl",
                                                  "menuItem:originPage","menuItem:readMode",
                                                  "menuItem:openWithQQBrowser","menuItem:openWithSafari","menuItem:share:email","menuItem:share:brand","menuItem:exposeArticle"]// 要隐藏的菜单项，只能隐藏“传播类”和“保护类”按钮，所有menu项见附录3
                              });
                              if(ts){
                                wx.onMenuShareAppMessage({
                                     title: '和我家孩子一起来挑战米粒习惯吧！', // 分享标题
                                   //  desc: $.localStorage.get("nickName")+'授权给您监护他/她的孩子进行习惯反馈。', // 分享描述
                                     desc: '孩子们需要朋友的陪伴与关注....', // 分享描述
                                     link:ts, // 分享链接
                                     imgUrl: 'http://mily365.com/media/upload/mily.png', // 分享图标
                                     type: '', // 分享类型,music、video或link，不填默认为link
                                     dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
                                     success: function (r) {
                                         // 用户确认分享后执行的回调函数
                                         //$yml.page.$vmPage.digOk();
                                     },
                                     cancel: function () {
                                         // 用户取消分享后执行的回调函数
                                         alert("取消分享.");
                                     }
                                });

                              }
                      });
                      wx.config(config);
                     }
                  );
                  wx.error(function(e){
                    //当有错误发生的时候，需要重新去配置wx
                    // alert("zhifu.....");
                    // alert(JSON.stringify(e));
                  });

                }
              });
              //微信环境初始化
              //vm.wxinit("#",document.location.href)
              function cleanUp($pageVm) {
                //子页面离开时，调用清理方法
                if(vm.$currentPageVm && vm.$currentPageVm!=$pageVm){
                  console.log("clean up")
                  vm.$currentPageVm.cleanUp(vm.$currentPageVm)
                }
                //保存当前的pageVm
                vm.$currentPageVm=$pageVm;
              }
              function callback(p){
                if(vm.currPath)
                  vm.$refererUrl=vm.currPath;//缓存上次路径
                //记录当前路径
                vm.currPath = this.path;
                //压入访问路径到栈
                vm.$history.push(vm.currPath);
                var params=this.params;
                vm.isLoading=true;
                var fetchUrl=vm.currPath;
                fetch(fetchUrl)
                  .then(function(response) {
                    return response.text()
                  }).then(function(body) {
                    $("#content").html(body)
                    //vm.htmlcontent = body
                   vm.isLoading=false;
                    //调用页面的初始化方法
                   var pageVmEleName= $yml.page.getVmEleName();
                   var ele=document.getElementById(pageVmEleName);
                   var  $pageVm=null;
                   if(!$av.vmodels[pageVmEleName]){
                     $pageVm= $yml.page.vmInit();
                     cleanUp($pageVm)
                     $yml.page.vmInitAfter(vm,$pageVm,params);
                     $av.scan(ele,[vm,$pageVm]);
                   }else{
                     console.log("pageVmEleName "+pageVmEleName+" already exist...")
                     $pageVm=$av.vmodels[pageVmEleName];
                     cleanUp($pageVm)
                     $av.scan(ele,[vm,$pageVm]);
                     $yml.page.vmInitAfter(vm,$pageVm,params);
                   }
                  })
              }
              $av.router.add("/main/activity/:tag", callback);
              $av.router.add("/main/activity/detail/:id", callback);
              $av.router.add("/main/grain", callback);
              $av.router.add("/main/grain/addchild", callback);
              $av.router.add("/main/grain/editchild/:childid", callback);
              $av.router.add("/main/grain/feednote/:postid", callback);
              $av.router.add("/main/grain/feedback/:pid/:role", callback);
              $av.router.add("/main/stage/:pid", callback);
              $av.router.add("/main/my", callback);
              $av.router.add("/main/grain/friends", callback);
              $av.history.start({
                  root: "/main",
                  html5:false,
                  hashPrefix:"!",
                  autoScroll:true //滚动
              })
              //当前页面初次加载时
              var hash = location.hash.replace(/#!?/, '')
              var match=location.href.match("&pathfrom=(.*?)&")
              //alert(location.href)
              if(match && match[1]){
                var go=match[1];
                $av.router.navigate(hash || go, 0)//默认打开
              }else{
                $av.router.navigate(hash || '/main/activity/t', 0)//默认打开
              }

              $av.scan(document.getElementById("main"),[vm])
              //设置初始激活
              $("span","#mainDefault").addClass("active")
              $("div","#mainDefault").addClass("active")

            })

         })(jQuery,avalon)
  </script>
{% endblock%}
