<div class="container page" id="note" data-page-root="note" ms-controller="note">　
    <nav class="navbar navbar-default  navbar-fixed-top">
      <div  class="row navButton">
          <div  class="col-xs-4 text-left icon">
            <a ms-attr="{href:'#!'+@refererUrl}">
              <i class="glyphicon glyphicon-arrow-left fa-lg active"></i>
            </a>
          </div>
          <div class="col-xs-4 text-center">
              <h4 id="title" class="topNavButton">光阴</h4>
          </div>
          <div class="col-xs-4 text-right">

                 <button  ms-click="@publishClick" class="btn btn-success btn-sm">发布</button>

          </div>
      </div>
    </nav>
    <div class="childContent">
      <div class="list-group">
        <button type="button"  class="list-group-item">
          <a class="btn btn-default" style="border:none">
            <img src="http://mily365.com/static/front/js/editor/smiley/25.jpg"  style="width:30px;height:30px"/>
          </a>
          <a class="btn btn-default" style="border:none" data-level="M" ms-click="@selectRadio">
            <img src="http://mily365.com/static/front/js/editor/smiley/26.jpg"  style="width:30px;height:30px"/>
          </a>
          <a class="btn btn-default" style="border:none" data-level="H" ms-click="@selectRadio">
            <img src="http://mily365.com/static/front/js/editor/smiley/27.jpg"  style="width:30px;height:30px"/>
          </a>
          <a class="btn btn-default" style="border:none" data-level="H" ms-click="@selectRadio">
            <img src="http://mily365.com/static/front/js/editor/smiley/28.jpg"  style="width:30px;height:30px"/>
          </a>
          <a class="btn btn-default" style="border:none" data-level="H" ms-click="@selectRadio">
              <img src="http://mily365.com/static/front/js/editor/smiley/29.jpg"  style="width:30px;height:30px"/>
          </a>
        </button>
        <button type="button"  class="list-group-item">
          <textarea id="editorFeed" placeholder="打卡已经完成，写下美好的回忆吧..." style="width:100%;height:80px;border:none"/>
        </button>
        <button type="button"  class="list-group-item">
          <div class="text-center">
             <div><img class="img-thumbnail"   ms-attr="{src:@imageUrl}"/></div>
          </div>
        </button>
        <button type="button"  class="list-group-item">
          <div  class="row">
              <div  class="col-xs-4 text-left icon" ms-click="@selImageClick">
                <span><i class="fa fa-camera fa-2x"></i></span>
              </div>
              <div class="col-xs-4 text-center" ms-click="@startRecord">
                  <span><i class="fa fa-microphone fa-2x"></i></span>
              </div>
              <div class="col-xs-4 text-right" ms-click="@listenHistoryClick" >
                <span style="font-size:30px" class="glyphicon glyphicon-volume-up"></span><span class="badge">{? recordCount ?}</span>
              </div>
          </div>
        </button>
        <div class="modal fade" id="recordDlg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-body">
                <div class="modal-header">
                  <h4 class="modal-title" id="myModalLabel"><i class="fa fa-warning" style="color:orange"></i>语音留言中</h4>
                </div>
                <div class="text-center" style="width:100%;height:120px;margin-top:15px">
                  <i class="fa fa-refresh fa-spin fa-3x"></i>
                  <div style="margin-top:5px" ms-click="@stopRecord">
                    <button  class="button button-pill  button-action">停止留言</button>
                  </div>
               </div>
            </div>
          </div>
        </div>
      </div>
　　</div>
</div>
<div class="modal fade" id="noteHelp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <div class="modal-header">
              <h4 class="modal-title" id="myModalLabel"><i class="fa fa-smile-o" style="color:orange"></i>小小提示</h4>
            </div>
            <div class="text-center" style="width:100%;height:120px;margin-top:15px">
              <div class="text-center">
                <span><i class="fa fa-camera fa-2x"></i>照片</span>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <span ><i class="fa fa-microphone fa-2x"></i>录音</span>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <span  style="font-size:30px" class="glyphicon glyphicon-volume-up"></span><span>收听</span>
              </div>

              <div style="margin-top:15px;">
                <button href="#" class="button button-pill  button-action" id="noteHelpKnow">我知道了</button>
              </div>
           </div>
        </div>
      </div>
    </div>
</div>
<script>
   $yml.page=$yml.pageBase.New(null,{
     ctor:function(){
       console.log("myhabit loaded..."+this.getVmEleName());
       //基类里在pageReady方法里和可以访问成员$vmPage和$router
       //this.$vmPage
       //this.$router
     },
     vmDef:function(){
       return {
         $id:"note",
         $postid:null,
         imageUrl:null,
         $audioUrls:[],
         comment:null,
         recordCount:0,
         $isPlay:false,
         refererUrl:"",
         $currentUserId:null,
         startRecord:function(){
           $yml.page.$vmPage.$isPlay=true;
           $("#recordDlg").modal("show");
           wx.onVoiceRecordEnd({
              // 录音时间超过一分钟没有停止的时候会执行 complete 回调
              complete: function (res) {
                 $("#recordDlg").modal("hide");
                  var localId = res.localId;
                  wx.uploadVoice({
                      localId: localId, // 需要上传的音频的本地ID，由stopRecord接口获得
                      isShowProgressTips: 1, // 默认为1，显示进度提示
                          success: function (res) {
                          var serverId = res.serverId; // 返回音频的服务器端ID
                          //给公司微信服务器发送下载文件的指令
                          $yml.page.$vmPage.recordCount=$yml.page.$vmPage.recordCount+1;
                          $yml.ajax('http://wx.mily365.com/wx/api/download',{mediaId:serverId,type:"audio"},
                          　  function(res){
                                if(res.resUrl){//如果服务器下载成功，修改这个url为服务器地址
                                  $yml.page.$vmPage.$audioUrls.push(res.resUrl);
                                  $yml.page.$vmPage.$isPlay=false;
                                }
                              }
                          );
                      }
                  });

              }
           });
          wx.startRecord();
         },
         listenHistoryClick:function(){
           if(!$yml.sound.isPlay){
            //  alert($yml.page.$vmPage.$audioUrls[0])
             $yml.sound.groupPlay($yml.page.$vmPage.$audioUrls);
           }
         },
         stopRecord:function(){
           $("#recordDlg").modal("hide");
           wx.stopRecord({
                success: function (res) {
                    var localId = res.localId;
                    wx.uploadVoice({
                        localId: localId, // 需要上传的音频的本地ID，由stopRecord接口获得
                        isShowProgressTips: 1, // 默认为1，显示进度提示
                            success: function (res) {
                            var serverId = res.serverId; // 返回音频的服务器端ID
                            //给公司微信服务器发送下载文件的指令
                            $yml.page.$vmPage.recordCount=$yml.page.$vmPage.recordCount+1;
                            $yml.ajax('http://wx.mily365.com/wx/api/download',{mediaId:serverId,type:"audio"},
                            　  function(res){
                                  if(res.resUrl){//如果服务器下载成功，修改这个url为服务器地址
                                    $yml.page.$vmPage.$audioUrls.push(res.resUrl);
                                    $yml.page.$vmPage.$isPlay=false;
                                  }
                                }
                            );
                        }
                    });
                }
            });
         },
         selImageClick:function(){
               $yml.page.$vmPage.$isPlay=true;
               wx.chooseImage({
                 count: 1, // 默认9
                 sizeType: ['original', 'compressed'], // 可以指定是原图还是压缩图，默认二者都有
                 sourceType: ['album', 'camera'], // 可以指定来源是相册还是相机，默认二者都有
                 success: function (res) {
                     var localIds = res.localIds; // 返回选定照片的本地ID列表，localId可以作为img标签的src属性显示图片
                     $yml.page.$vmPage.imageUrl=localIds[0];
                     //上传图片
                     wx.uploadImage({
                         localId: localIds[0], // 需要上传的图片的本地ID，由chooseImage接口获得
                         isShowProgressTips: 1, // 默认为1，显示进度提示
                         success: function (res) {
                             var serverId = res.serverId; // 返回图片的服务器端ID
                             //给公司微信服务器发送下载文件的指令http://wx.mily365.com/wx/api/download
                             $yml.ajax('http://wx.mily365.com/wx/api/download',{mediaId:serverId,type:"img"},
                             　  function(res){
                                   if(res.resUrl){//如果服务器下载成功，修改这个url为服务器地址
                                     $yml.page.$vmPage.imageUrl=res.resUrl;
                                     $yml.page.$vmPage.$isPlay=false;
                                   }

                                 }
                             );
                         }
                     });

                 },
                 fail:function(err){
                   alert(JSON.stringify(err));
                 }
     　　　　　　});
         },
         cleanUp:function(){
           console.log("...........note cleanUp.........");
           this.imageUrl=null;
           this.$audioUrls.length=0;
           this.comment="";
           this.recordCount=0;

         },
         publishClick:function(){
          //设置当前孩子反馈页面的状态为已经发布
          if($yml.page.$vmPage.$isPlay==false){
            //$yml.page.$vmPage.isPub=true;
            //保存当前页面信息到后台主贴
            var postid=$yml.page.$vmPage.$postid;
            var content=$("#editorFeed").val();
            var imageUrl=$yml.page.$vmPage.imageUrl;
            var audioUrls=$yml.page.$vmPage.$audioUrls.join(",");
            var paramsObj={};

            if(content.length>150){
              content=content.substr(0,147)+"..."
            }
            paramsObj.postid=postid;
            paramsObj.content=content;
            paramsObj.imageUrl=imageUrl;
            paramsObj.audioUrls=audioUrls;
            $yml.ajax('/api/grain/feedback/publish',{"param":paramsObj},function(rtnData){
              if(rtnData.status==0){
                 avalon.router.navigate($yml.page.$vmPage.refererUrl,1)
              }else{
                alert("发布出错");
              }
            });
          }
         },
       }
     },
     pageReady:function(params){
       var self=this;
       //小小提示
       $yml.dlgCenter("noteHelp");
       if(!avalon.router.localStorage.getItem("noteHelpKnow")){
         $("#noteHelp").modal("show");
       }
       $("#noteHelpKnow").click(function(){
         $("#noteHelp").modal("hide");
         avalon.router.localStorage.setItem("noteHelpKnow","1");
       });

       //进入页面时清空
       self.$vmMain.$history.pop();
       console.log(self.$vmMain.$history)
       $yml.page.$vmPage.refererUrl=self.$vmMain.$history.pop();

       //设置当前主题贴的id
       //$yml.page.$vmPage.$postid=$yml.page.$router.params.commentId;
       //按照这个habitId去查询有关这个习惯的发布信息表，查询规则是时间倒序，朋友前置
      //  var habitId=params.habitid;
      //  $yml.page.$vmPage.currentUserId

      $yml.dlgCenter("recordDlg");
      $yml.editor("editorFeed","bottom");
      //创建反馈对象feedback,并生成一个默认贴,奖励米粒,如果参与了懒人基金，返还押金
      $yml.ajax('/api/grain/feedback/create',params,function(rtnData){
          if(rtnData.status==0){
              $yml.page.$vmPage.$postid=rtnData.content.postid;
          }else{
            alert("发布出错");
          }
        });

     }
   });
</script>
