<div class="container page" id="grain" data-page-root="grain"  ms-controller="grain">　
  <nav class="navbar navbar-default  navbar-fixed-top">
    <div  class="row navButton">
        <div  class="col-xs-4 text-left icon">
          <!-- <a  href="#!/main/activity">
            <i class="glyphicon glyphicon-arrow-left fa-lg active"></i>
          </a> -->
        </div>
        <div class="col-xs-4 text-center">
            <h4 id="title" class="topNavButton">成长</h4>
        </div>
        <div class="col-xs-4 text-right">
          <a href="#!/main/grain/addchild">
            <i class="fa fa-plus fa-2x active"></i>
          </a>
        </div>
    </div>
  </nav>
  <div id="childContent"  class="container-fluid childContent" style="height:600px;overflow-y:scroll">
      <ul class="list-group">
        <li  ms-for="(i,item) in @familys"   class="list-group-item">
          <div class="media" style="margin-top:5px">
              <div class="media-body">
                <h4 class="media-heading">
                    <img class="media-object thumbnail" style="width:112px;height:112px" ms-attr="{src:@item.imgUrl}" alt="...">
                </h4>
                <br/>
              </div>
              <a  ms-attr="{href:'#!/main/activity/detail/'+@item.id}"  class="media-right">
                  <div>
                     {? @item.imgUrl ?}
                  </div>
              </a>
           </div>
        </li>
      </ul>
    </div>
  </div>
  <script>
  $yml.page=$yml.pageBase.New(null,{
    ctor:function(){
      console.log("addChild loaded..."+this.getVmEleName());
      //基类里在pageReady方法里和可以访问成员$vmPage和$router
      //this.$vmPage
      //this.$router
    },
    vmDef:function(){
      return {
        $id:"grain",
        familys:[],
        backClick:function(){
          //$yml.page.$router.pop();
        },
        cleanUp:function(){
          this.familys.length=0;
          this.familys=[]
        }
      };
    },
    pageReady:function(){
      var self=this;
      console.log(" grain pageReady");
      $yml.ajax('/api/grain/family',null,
      　  function(res){
            res.content.data.forEach(function(r){
              $yml.page.$vmPage.familys.push(r)
            });
          }
      );
    }
  });
  </script>
