<div class="container page" id="feedback" data-page-root="feedback"  ms-controller="feedback">　
  <nav class="navbar navbar-default  navbar-fixed-top">
    <div  class="row navButton">
        <div  class="col-xs-4 text-left icon">
          <a  href="#!/main/grain">
            <i class="glyphicon glyphicon-arrow-left fa-lg active"></i>
          </a>
        </div>
        <div class="col-xs-4 text-center">
            <h4 id="title" class="topNavButton">打卡</h4>
        </div>
        <div class="col-xs-4 text-right">
          <!-- <a href="#!/main/grain/addchild">
            <i class="fa fa-plus fa-2x active"></i>
          </a> -->
        </div>
    </div>
  </nav>
  <div id="childContent"  class="container-fluid childContent" style="height:600px;overflow-y:scroll">
      <ul class="list-group">
        <li  ms-for="(i,item) in @habits"   class="list-group-item">
          <div class="media" style="margin-top:5px">
            <a  href="#" class="media-left">
                <i ms-attr="{class:@item.icon}"   aria-hidden="true"></i>
            </a>
            <div class="media-body">
                <h5 class="media-heading" style="margin-top:2px">
                  {? @item.name ?}
                </h5>
                <br/>
                <p><i class="fa fa-calendar-minus-o" aria-hidden="true"></i>你已坚持：天
                <p><i class="fa fa-asterisk" aria-hidden="true"></i>今日得米：粒
            </div>
            <div class="media-right">
                <span ms-if="@item.isFeedBack=='0'" class="button-wrap">
                    <button ms-click="@gonote" ms-attr="{noteurl:'#!/main/grain/feedback/note/'+@item.id,isFeed:'0',class:'button button-glow button-circle button-action button-jumbo'}">
                      <span  style="color:red">
                        <span>记</span>
                      </span>
                   </button>
               </span>
               <span ms-if="@item.isFeedBack=='1'" class="button-wrap">
                   <button ms-click="@gonote" ms-attr="{noteurl:'#!/main/grain/feedback/note/'+@item.id,isFeed:'1',class:'button button-glow button-circle button-action button-jumbo'}">
                     <span>
                       <i    class="fa fa-check fa-fw"></i>
                     </span>
                  </button>
              </span>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <script>
  $yml.page=$yml.pageBase.New(null,{
    ctor:function(){
      console.log("feedback loaded..."+this.getVmEleName());
      //基类里在pageReady方法里和可以访问成员$vmPage和$router
      //this.$vmPage
      //this.$router
    },
    vmDef:function(){
      return {
        $id:"feedback",
        $currentUserId:null,
        habits:[],
        backClick:function(){
          //$yml.page.$router.pop();
        },
        cleanUp:function(toCleanVm){
          this.habits.clear();
          //$yml.page.$vmPage.$currentUserId=none;
        },
        gonote:function(ev){
          //判断是否
          var gourl=$(ev.currentTarget).attr("noteurl")
          var isfeed=$(ev.currentTarget).attr("isFeed")
          //创建反馈对象feedback,并生成一个默认贴,奖励米粒,如果参与了懒人基金，返还押金
          if(isfeed==1){
            //如果已经反馈，弹出取消反馈窗口，进行取消打卡调用
          }else{
            avalon.router.navigate(gourl,2)
          }
        }
      };
    },
    pageReady:function(params){
      var self=this;
      console.log(" feedback pageReady");
      //缓存当前打卡用户的id
      $yml.page.$vmPage.$currentUserId=params.pid;
      //显示当前家庭的孩子参加活动所涉及的习惯列表
      $yml.ajax('/api/grain/feedback/habits',params,
      　  function(res){
            console.log(res.content.data)
            res.content.data.forEach(function(r){
              $yml.page.$vmPage.habits.push(r)
            });
          }
      );
    }
  });
  </script>
