<div class="container page" id="activity" data-page-root="activity"  ms-controller="activity">　
    <nav class="navbar navbar-default  navbar-fixed-top">
      <div  class="row navButton">
          <div  class="col-xs-4 text-left">
            <!-- <div  ms-click="helpClick" class="active">
              <span class="fa fa-cog"></span>
            </div> -->
          </div>
          <div class="col-xs-4 text-center">
              <h4 id="title" class="topNavButton">活动</h4>
          </div>
          <div class="col-xs-4 text-right">
            <!-- <div class="active">
              <i class="fa fa-cart-plus fa-2x"></i>
            </div> -->
          </div>
      </div>
    </nav>
    <div id="childContent"  class="container-fluid childContent" style="height:600px;overflow-y:scroll">
        <ul class="list-group">
          <li  ms-for="(i,item) in @activitys" ms-attr="{'data-url':'/main/activity/detail/'+@item.id}"  class="list-group-item" ms-click="@activeSet">
            <div class="media" style="margin-top:5px">
                <div class="media-body">
                  <h4 class="media-heading"><span style="padding-right:5px"><i class="fa fa-gift  active" aria-hidden="true"></i></span>{? item.name ?}</h4>
                  <br/>
                  <p>活动类别：{? @item.cat ?}</p>
                  <p>关键词:{? @item.desc ?}</p>
                  <p>开始日期：{? @item.startTime ?}</p>
                  <p>截止日期：{? @item.endTime ?}</p>
                  <p>还剩：３个名额</p>

                </div>
                <a  ms-attr="{href:'#!/main/activity/detail/'+@item.id}"  class="media-right">
                    <img class="media-object thumbnail" style="width:112px;height:112px" ms-attr="{src:@item.img}" alt="...">
                    <div><i class="fa fa-hand-o-up fa-lg active" aria-hidden="true"></i></div>
                </a>
             </div>
          </li>
        </ul>
    </div>

  </div>
  <script>
  $yml.page=$yml.pageBase.New(null,{
    ctor:function(){
      console.log("addChild loaded..."+this.getVmEleName());
      //基类里在pageReady方法里和可以访问成员$vmPage和$router
      //this.$vmPage
      //this.$router
    },
    vmDef:function(){
      return {
        $id:"activity",
        hello:'20天习惯养成',
        activitys:[],
        helpClick:function(){
          //$yml.page.$router.pop();
          console.log("helpClick")
        },
        cleanUp:function(){
          this.activitys.length=0;
          this.activitys=[]
        },
        activeSet:function(e){
          $(".list-group-item.active").removeClass("active")
          $(e.currentTarget).addClass("active")
          //console.log(e)
          console.log("activeSet")
        }
      };
    },
    pageReady:function(){
      var self=this;
      console.log("pageReady");
      // $yml.ajax('/api/habit/cats',null,
      // 　  function(res){
      //       $yml.page.$vmPage.cats=res.content;
      //     }
      // );
      //初始化分页器
      var pager= $yml.pagination.New({
          currentPage:1,
          totalCount:1,
          pageSize:6,
          url:"/api/activity/",
          query:null,
        },{
          ctor:function(){
            this.initData(function(res){
               initUi(res);
               //console.log(res)
            });
          }
        }
      );
      pager.onScroll("childContent",function(res){
           console.log("scroll....")
           initUi(res);
      });
      function initUi(data){
        console.log("init data")
         if(data){
           data.forEach(function(d){
             self.$vmPage.activitys.push(d);
           });

         }
      }
    }
  });
  </script>
