<div class="container page" id="addChild" data-page-root="addChild" ms-controller="addChild">　
    <nav class="navbar navbar-default  navbar-fixed-top">
      <div  class="row navButton">
        <div  class="col-xs-4 text-left icon">
          <a  href="#!/main/grain" id="backAfterSave">
            <img src="/static/front/img/back.png" style="width:16px;height:16px"/>
          </a>
        </div>
        <div class="col-xs-4 text-center">
            <h4 id="title" style="color:#D4A753">添加成员</h4>
        </div>
        <div class="col-xs-4 text-right">

        </div>
      </div>
    </nav>
    <div class="childContent">
      <div class="well">
        <form>
           <div class="form-group text-center" onclick="btnPhotoG()">
             <img ms-attr="{src:@headUrl}"  class="img-circle" style="width:80px;height:80px"/>
             <span  id="takePhoto"  　    class="active"><i class="fa fa-camera-retro fa-2x"></i><i class="fa fa-plus"></i></span>
           </div>
            <div class="form-group">
              <label for="exampleInputEmail1" style="color:#D4A753">昵称</label>
              <input type="text" ms-duplex="nickname" class="form-control" id="nickname" placeholder="请输入成员昵称">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1" style="color:#D4A753">密码</label>
              <input type="text" ms-duplex="password" class="form-control" id="password" placeholder="请输入密码">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1" style="color:#D4A753">部落编码(数字以逗号分割，可以加入多个部落)</label>
              <input type="text" ms-duplex="classid" class="form-control"　 id="classid" placeholder="请输入默认部落编码7或询问老师">
            </div>
            <div class="form-group">
              <label style="color:#D4A753"><i class="fa  fa-info-circle" style="color:orange"></i>提示:孩子可以利用呢称和密码在其他设备登录</label>
            </div>
            <div class="form-group text-center">
              <button  ms-click="@saveClick" class="btn  btn-success">保存信息</button>
            </div>
        </form>
      </div>
   </div>
</div>
<script>
$yml.page=$yml.pageBase.New(null,{
  ctor:function(){
    console.log("addChild loaded..."+this.getVmEleName());
    //基类里在pageReady方法里和可以访问成员$vmPage和$router
    //this.$vmPage
    //this.$router
  },
  vmDef:function(){
    var self=this;
    return {
      $id:"addChild",
      headUrl:"/static/front/img/add.png",
      nickname:"",
      password:"",
      classid:"",
      isRequired:"true",
      cleanUp:function(){
        this.headingImgUrl="";
        this.nickname="";
        this.password="";
        this.classid="";
      },
      saveClick:function(){
         var params={};
         params.headingImgUrl=$yml.page.$vmPage.headUrl;
         params.nickname=$yml.page.$vmPage.nickname;
         params.password=$yml.page.$vmPage.password;
         params.classid=$.trim($yml.page.$vmPage.classid);
         if($.trim(params.nickname)==""){
           alert("昵称不能为空。");
           return false;
         }
         if($.trim(params.headingImgUrl)==""){
           alert("请给孩子选择一张照片。");
           return false;
         }
         if($.trim(params.password)==""){
           alert("请给孩子选择一个登录口令。");
           return false;
         }

         if(params.classid==""){
           params.classid="7";
         }

         if(!parseInt(params.classid)){
           alert("请检查您输入的部落是否为数字或咨询老师");
           return false;
         }

         $yml.ajax('/api/grain/family/addmember',{"childinfo":params},
         　  function(res){
               if(res.status==0){//如果服务器下载成功，修改这个url为服务器地址
                  // 为了显示打卡提示
                //  avalon.router.localStorage.setItem("grainHelp","1");
                  avalon.router.navigate('/main/grain',1)
               }else{
                 alert("保存出错");
               }
            }
         );
          //$yml.page.$router.pop();
      },
      btnPhoto:function(){
        wx.chooseImage({
          count: 1, // 默认9
          sizeType: ['original', 'compressed'], // 可以指定是原图还是压缩图，默认二者都有
          sourceType: ['album', 'camera'], // 可以指定来源是相册还是相机，默认二者都有
          success: function (res) {
              var localIds = res.localIds; // 返回选定照片的本地ID列表，localId可以作为img标签的src属性显示图片
              $yml.page.$vmPage.headUrl=localIds[0];
              //上传图片
              wx.uploadImage({
                  localId: localIds[0], // 需要上传的图片的本地ID，由chooseImage接口获得
                  isShowProgressTips: 1, // 默认为1，显示进度提示
                  success: function (res) {
                      var serverId = res.serverId; // 返回图片的服务器端ID
                      //给公司微信服务器发送下载文件的指令
                      $yml.ajax('http://wx.mily365.com/wx/api/download',{mediaId:serverId,type:"img"},
                      　  function(res){
                            if(res.resUrl){//如果服务器下载成功，修改这个url为服务器地址
                              $yml.page.$vmPage.headUrl=res.resUrl;
                            }
                          }
                      );
                  }
              });

          },
          fail:function(err){
            alert(JSON.stringify(err));
          }
　　　　　　　　});
      }
    };
  },
  pageReady:function(){
    var self=this;
    // $yml.ajax('/api/habit/cats',null,
    // 　  function(res){
    //       $yml.page.$vmPage.cats=res.content;
    //     }
    // );
  }
});
function btnPhotoG(){
  // alert("xxxx")
  $yml.page.$vmPage.btnPhoto()
}
</script>
