{% extends "front/base.html" %}
{% load static %}
{% block extrastyle%}
<link href="{% static "front/css/carousel.css" %}" rel="stylesheet">
{% endblock %}
{% block adv %}
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel" ms-controller="myCarousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div  ms-for="(i,head) in @heads" ms-attr="{class:'item '+@head.active}">
          <img  ms-attr="{src:@head.img,class:'first-slide'}"  alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>{? @head.name ?}</h1>
              <p>{? @head.desc ?}</p>
              <!-- <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p> -->
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->
{% endblock %}

{% block content %}
    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="note">
              <h4>选择角色</h4>
              <p><a href="{{ host }}" class="button button-circle button-glow button-border button-rounded button-caution">家长</a></p>
              <p><a href="{{ teacher }}" class="button button-circle button-glow button-border button-rounded button-caution">老师</a></p>
    </div>
  {% endblock %}
  {% block extrajs %}
  <script>
    　　 $(function(){
            $vmmotile=avalon.define({
              $id:"myCarousel",
              heads:[]
            });
            //区查询
            $yml.ajax('/api/welcome/loopHead',null,
            　  function(res){
                  var i=0;
                  if(res.status==0){
                    console.log(res.content.data)
                    res.content.data.forEach(function(r){
                      if(i==0){
                        r.active="active"
                      }else{
                        r.active=""
                      }
                      $vmmotile.heads.push(r)
                      i++;
                    })
                  }
                }
            );
         })

  </script>
  {% endblock%}
  {% block navbar-footer %}
  <!-- <p>© 2017 Mily
  <p> 京ICP备号 | 京公网安备号
  <p>隐私声明和 Cookie -->
  {% endblock %}
