<div class="container page" id="friends" data-page-root="friends"  ms-controller="friends">　
    <nav class="navbar navbar-default  navbar-fixed-top">
      <div  class="row navButton">
          <div  class="col-xs-4 text-left icon">
            <a ms-if="@refererUrl.length>0"  ms-attr="{href:'#!'+@refererUrl}">
              <img src="/static/front/img/back.png" style="width:16px;"/>
            </a>
          </div>
          <div class="col-xs-4 text-center">
              <h4 id="title" class="topNavButton" style="color:#995010;font-weight:bold;">朋友们</h4>
          </div>
          <div class="col-xs-4 text-right">

          </div>
      </div>
    </nav>
    <div id="childContent"  class="container-fluid childContent" style="min-height:600px;overflow-y:scroll">
        <div class="well" style="background:#f3e6ce;margin:10px;margin-bottom:0px;border-radius:5px;" ms-for="(i,item) in @familys" >
            <a ms-attr="{href:'#!/main/stage/'+@item.id}">
              <div class="row">
                 <div class="col-xs-4">
                   <img class="img-circle" style="width:48px;height:48px" ms-attr="{src:@item.imgUrl}" alt="..."/>
                 </div>
                 <div class="col-xs-4">
                     <span>{? @item.nickname ?}</span>
                 </div>
                 <div class="col-xs-4">
                   {? item.milyAccount ?}粒
                 </div>
              </div>
            </a>
        </div>
    
    </div>
  </div>
  <script>
  $yml.page=$yml.pageBase.New(null,{
    ctor:function(){
      console.log("addChild loaded..."+this.getVmEleName());
      //基类里在pageReady方法里和可以访问成员$vmPage和$router
      //this.$vmPage
      //this.$router
    },
    vmDef:function(){
      return {
        $id:"friends",
        familys:[],
        refererUrl:'',
        backClick:function(){
          //$yml.page.$router.pop();
        },
        cleanUp:function(toCleanVm){
          console.log("clean up grain list")
          this.familys.clear();
          console.log(toCleanVm.familys.length)
        }
      };
    },
    pageReady:function(){
      var self=this;
      this.$vmMain.$history.pop();
      $yml.page.$vmPage.refererUrl=this.$vmMain.$history.pop();
      this.$vmMain.$history.push("/main/grain/friends")
      $yml.ajax('/api/grain/friends',null,
      　  function(res){
            $yml.page.$vmPage.familys.clear()
            res.content.data.forEach(function(r){
              $yml.page.$vmPage.familys.push(r)
            });
          }
      );
    }
  });
  </script>
