{% extends "front/base.html" %}
{% load static %}
{% block navbar-header %}
{% endblock %}
<!-- 内容区-->
{% block content %}
<div class="container mainPage" style="width:100%"  id="share"  ms-controller="share">
  <!-- <div class="content" id="content" ms-html="@htmlcontent"> -->
  <div class="content" id="content" style="background:rgba(0,0,0,.85);position:relative;z-index:9999;">
      <div class="row" style="width:100%;margin:0px auto;background:url(/static/front/img/active_bg.png) no-repeat;background-size:100%;">
             <div class="col-xs-12 text-center"  style="margin-top:10px">
                  <img ms-attr="{src:@myinfo.headingImgUrl}"  class="img-circle" style="width:40px;height:40px"/><br/>
                  <span>{? @myinfo.nickName ?}</span>
             </div>
             <div class="col-xs-12 text-center">
                 <span>{? @myinfo.habitname ?}</span>
             </div>
             <div class="col-xs-12 text-center">
                 <div>坚持了第{? @myinfo.accumDays ?}天</div>
                 <div>今日获得米粒{? @myinfo.freeMily ?}粒</div>
                 <div>累积获得米粒{? @myinfo.accumMily ?}粒</div>
             </div>
             <!-- <div class="col-xs-12 text-center">
                 <div>
                   <img class="img-thumbnail" style="width:50%;height:170px" ms-attr="{src:'/static/front/img/adv1.png'}" />
                </div>
             </div>
             <div class="col-xs-12 text-center" style="margin-top:5px;margin-bottom:5px">
                 <div>
                   <img class="img-thumbnail" style="width:50%;height:170px" ms-attr="{src:'/static/front/img/codeimg.jpg'}"/>
                </div>
             </div> -->
      </div>
      <a class="close" style="display:block;width:30px;height:30px;position:absolute;top:10px;right:10px;background:url(/static/front/img/close_hov.png) no-repeat;background-size:30px;z-index:99999;"></a>
  </div>
</div>
{% endblock %}
<!-- 主要应用代码区 -->
{% block extrajs %}
<script src="{% static "front/js/avalon/mmRouter.js" %}"></script>
<script>
    　　 (function($,$av){
            $(function(){
              //console.log(typeof(avalon))
              var vm=$av.define({
                $id:"share",
                myinfo:{}
              });
              $av.scan(document.getElementById("share"),[vm])
              var params={}
              params.actid={{ actid }}
              params.pid={{ pid }}
              params.habitid={{ hid }}
              $yml.ajax('/api/share/feedback',params,
              　  function(res){
                    vm.myinfo=res.content;

                  }
              );
            })
         })(jQuery,avalon)
</script>
{% endblock%}
