{% extends "front/base.html" %}
{% load static %}
{% block navbar-header %}
{% endblock %}
<!-- 内容区-->
{% block content %}
<div class="container mainPage" style="width:100%"  id="share"  ms-controller="share">
  <!-- <div class="content" id="content" ms-html="@htmlcontent"> -->
  <div class="content" id="content">
      <div class="row">
             <div class="col-xs-12 text-left"  style="margin-top:10px">

             </div>
             <div class="col-xs-12 text-center">
                 <div>
                   <img class="img-thumbnail" style="width:50%;height:170px" ms-attr="{src:'/static/front/img/adv1.png'}" />
                </div>
             </div>
             <div class="col-xs-12 text-center" style="margin-top:5px;margin-bottom:5px">
                 <div>
                   <img class="img-thumbnail" style="width:50%;height:170px" ms-attr="{src:'/static/front/img/codeimg.jpg'}"/>
                </div>
             </div>
      </div>
  </div>
</div>
{% endblock %}
<!-- 主要应用代码区 -->
{% block extrajs %}
<script src="{% static "front/js/avalon/mmRouter.js" %}"></script>
<script>
    　　 (function($,$av){
            $(function(){
              //console.log(typeof(avalon))
              var vm=$av.define({
                $id:"share",
                myinfo:{}
              });
              $av.scan(document.getElementById("share"),[vm])
              var params={}
              params.actid={{ actid }}
              params.pid={{ pid }}
              params.habitid={{ hid }}
              alert(JSON.stringify(params))
              $yml.ajax('/api/share/feedback',params,
              　  function(res){
                    vm.myinfo=res.content;
                    alert(JSON.stringify(res.content))
                  }
              );
            })
         })(jQuery,avalon)
</script>
{% endblock%}
