<div class="container page" id="my" data-page-root="my"  ms-controller="my">　
    <nav class="navbar navbar-default  navbar-fixed-top">
      <div  class="row navButton">
          <div  class="col-xs-4 text-left">

          </div>
          <div class="col-xs-4 text-center">
              <h4 id="title" class="topNavButton">我的</h4>
          </div>
          <div class="col-xs-4 text-right">

          </div>
      </div>
    </nav>
    <div class="container-fluid">
       <div class="row">
         <div class="col-sm-12">
           <div class="thumbnail noborder">
             <img class="media-object" ms-attr="{src:@myinfo.imgUrl}" style="width:400px;height:300px" alt="...">
             <div class="caption">
                  {? @myinfo.nickname ?}
             </div>
           </div>
         </div>
       </div>
    </div>
  </div>
  <script>
  $yml.page=$yml.pageBase.New(null,{
    ctor:function(){
      console.log("addChild loaded..."+this.getVmEleName());
      //基类里在pageReady方法里和可以访问成员$vmPage和$router
      //this.$vmPage
      //this.$router
    },
    vmDef:function(){
      return {
        $id:"my",
        myinfo:'',
        backClick:function(){
          //$yml.page.$router.pop();
        },
        cleanUp:function(){
          console.log("clean up...")
        }
      };
    },
    pageReady:function(){
      var self=this;
      console.log(" my grain pageReady");
      $yml.ajax('/api/teacher/my',null,
      　  function(res){
            $yml.page.$vmPage.myinfo=res.content.myinfo;

          }
      );
    }
  });
  </script>
