<div class="container page" id="students" data-page-root="students"  ms-controller="students">　
    <nav class="navbar navbar-default  navbar-fixed-top">
      <div class="container-fluid" style="padding-left:10px;padding:right:1px">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand"　 href="#"><i class="fa fa-users fa-1x active"></i>{? @cgname ?}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li ms-for="(i,cg) in @cgs"><a ms-attr="{href:'#!/tmain/classmember/'+@cg.id}">{? cg.name ?}</a></li>
            <li><a href="#!/tmain/addclass"><i class="fa fa-plus fa-1x active"></i>添加部落</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div id="childContent"  class="container-fluid childContent" style="height:600px;overflow-y:scroll">
      <ul class="list-group">
        <li  ms-for="(i,item) in @students"   class="list-group-item">
          <div class="media" style="margin-top:5px">
            <a  href="#" class="media-left">
                <img class="media-object thumbnail" style="width:115px;height:115px" ms-attr="{src:@item.imgUrl}" alt="...">
            </a>
            <div class="media-body">
                <h4 class="media-heading">
                  <a ms-attr="{href:'#!/main/grain/editchild/'+@item.id}">{? @item.nickname ?}<i  class="fa fa-edit fa-1x"></i></a>
                </h4>
                <br/>
                <p>米仓：
                <p>钱包：
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <script>
  $yml.page=$yml.pageBase.New(null,{
    ctor:function(){
      console.log("addChild loaded..."+this.getVmEleName());
      //基类里在pageReady方法里和可以访问成员$vmPage和$router
      //this.$vmPage
      //this.$router
    },
    vmDef:function(){
      return {
        $id:"students",
        students:[],
        cgs:[],
        cgname:"",
        backClick:function(){
          //$yml.page.$router.pop();
        },
        cleanUp:function(toCleanVm){
          this.students.clear();
          this.cgs.clear();
        }
      };
    },
    pageReady:function(params){
      var self=this;
      console.log(" classmember pageReady");
      $yml.ajax('/api/teacher/classmember',{"cg":params},
      　  function(res){
            self.$vmPage.cleanUp()
            res.content.cgArray.forEach(function(r){
              $yml.page.$vmPage.cgs.push(r)
            });
            res.content.currentCgStudents.forEach(function(r){
              $yml.page.$vmPage.students.push(r)
            });
            $yml.page.$vmPage.cgname=res.content.cgname
          }
      );
    }
  });
  </script>
