<div class="container page" id="tmy" data-page-root="tmy"  ms-controller="tmy">　
    <nav class="navbar navbar-default  navbar-fixed-top">
      <div  class="row navButton">
          <div  class="col-xs-4 text-left">

          </div>
          <div class="col-xs-4 text-center">
              <h4 id="title" class="topNavButton">{? @myinfo.nickname ?}</h4>
          </div>
          <div class="col-xs-4 text-right">

          </div>
      </div>
    </nav>
    <div class="container-fluid childContent">
      <div class="list-group" style="padding:0px">
        <button class="list-group-item" style="padding:0px">
            <div class="row">
              <div class="col-xs-12" style="padding:0px">
                <img  ms-attr="{src:@myinfo.imgUrl,class:'center-block'}" style="width:100%;height:280px;margin-top:-10px" alt="...">
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <img  ms-attr="{src:@myinfo.imgUrl,class:'img-circle center-block'}" style="width:50px;height:50px;margin-top:-30px" alt="...">
              </div>
              <div class="col-xs-12">

              </div>
            </div>
        </button>
        <button class="list-group-item">
            <div class="text-center">学而实习之，不亦说乎</div>
        </button>
        <button class="list-group-item">
            <div class="text-center">有朋自远方来，不亦乐乎</div>
        </button>
        <button class="list-group-item">
            <div class="text-center">人不知而不愠，不亦君子乎</div>
        </button>
      </div>
    </div>
  </div>
  <script>
  $yml.page=$yml.pageBase.New(null,{
    ctor:function(){
      console.log("addChild loaded..."+this.getVmEleName());
      //基类里在pageReady方法里和可以访问成员$vmPage和$router
      //this.$vmPage
      //this.$router
    },
    vmDef:function(){
      return {
        $id:"tmy",
        myinfo:'',
        backClick:function(){
          //$yml.page.$router.pop();
        },
        cleanUp:function(){
          console.log("clean up...")
        }
      };
    },
    pageReady:function(){
      var self=this;
      console.log(" my grain pageReady");
      $yml.ajax('/api/teacher/my',null,
      　  function(res){
            $yml.page.$vmPage.myinfo=res.content.myinfo;

          }
      );
    }
  });
  </script>
